#title{
     background: -webkit-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
     background: -o-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
     background: -moz-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
     background: linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
}


.row h1{ 
     font-family: 'Lobster', cursive;
     font-size: 2.5rem; 
     line-height: 1.5; 
    color: azure;
    
}


.container-f{

     padding:3% 15%;

}

.navbar .navbar-brand{

  
     font-family:cursive;
     font-size: 3rem;
     font-weight: bold;
     padding-bottom: 2.5rem;
}

.nav-item{


     padding:0 18px;
}

.nav-link{

font-size: 1.2rem;
}
